a:hover {
  font-weight: bold;
  text-decoration: none;
}

a.tip:hover {
  background-color: whitesmoke;
  font-weight: normal;
}

.banner {
  background-image: url("img/twitter_header_photo_1.png");
  background-repeat: round;
  background-size: 100%;
  font-weight: 600;
}

.copyright-text {
  margin: 0
}

.element:hover {
  background-color: whitesmoke;
}

.element {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1rem;
  display: flex;
}

.element-name {
  font-size: 1.5rem;
}

.element-detail {
  margin-left: 1rem;
}

.element-quote {
  padding-top: 1rem;
}

.element-votes {
  font-weight: bold;
}

.element-quote_quote {
  padding-left: 5px;
  font-style: italic;
}

.element-avatar img {
  width: 100px;
  height: 100px;
}

.element-header {
  font-size: 2rem;
  padding-bottom: 1rem;
  overflow: hidden;
}

.element-header_icon {
  padding-right: 1rem;
}

.footer-icon {
  margin-right: 10px;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #f0cece;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.home-main-element {
  padding-top: 1rem;
}

.header-link {
  padding-bottom: 1rem;
}

.icon-rating {
  color: yellow;
}

.icon_like {
  padding-right: 1rem;
  color: greenyellow;
}

.icon_dislike {
  padding-right: 1rem;
  color: white;
}

.icon_address {
  color: red;
}

.icon-quote {
  color: hotpink;
}

.icon_price {
  color: tomato;
}

.icon_phone {
  color: #007bff;
}

.icon_food-recommend {
  color: red;
}

.top-vote {
  float: right;
}

.logo {
  width: 70px;
  margin-right: 1rem;
}

.new-review {
  margin-bottom: 1rem;
}

.new-review_header span:first-of-type {
  font-weight: bold;
}

.pagination {
  flex-wrap: wrap;
}

.review {
  padding: 1rem;
  margin-bottom: 1rem;
}

.review:hover {
  background-color: whitesmoke;
}

.reviewer {
  width: 100%;
}

.review-time {
  padding-right: 1rem;
  float: right;
}

.review-content {
  white-space: pre-line;
}

.review-comment p{
  white-space: pre-line;
}

.review-react {
  margin: 0;
  padding: 0;
}

.review-react div {
  padding: 0.75rem;
}

.review-react div:hover {
  background-color: white;
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: whitesmoke;
  font-weight: bold;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
  color: whitesmoke;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89
}

.tip {
  display: flex;
}

.write-review {
  margin: auto;
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }

}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }
  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center
  }
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }

}
