a:hover {
  font-weight: bold;
  text-decoration: none;
}

a.tip:hover {
  background-color: whitesmoke;
  font-weight: normal;
}

.banner {
  background-image: url("../img/twitter_header_photo_1.png");
  background-repeat: round;
  background-size: 100%;
  font-weight: 600;
}

.copyright-text {
  margin: 0;
}

.element:hover {
  background-color: whitesmoke;
}

.element {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: unset;
}

.element-name {
  font-size: 1.5rem;
}

.element-detail {
  margin-left: 1rem;
}

.element-quote {
  padding-top: 1rem;
}

.element-votes {
  font-weight: bold;
}

.element-quote_quote {
  padding-left: 5px;
  font-style: italic;
}

.element-avatar img {
  width: 100px;
  height: 100px;
}

.element-header {
  font-size: 2rem;
  padding-bottom: 1rem;
  overflow: hidden;
}

.element-header_icon {
  padding-right: 1rem;
}

.footer-icon {
  margin-right: 10px;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #f0cece;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.home-main-element {
  padding-top: 1rem;
}

.header-link {
  padding-bottom: 1rem;
}

.icon-rating {
  color: yellow;
}

.icon_like {
  padding-right: 1rem;
  color: greenyellow;
}

.icon_dislike {
  padding-right: 1rem;
  color: white;
}

.icon_address {
  color: red;
}

.icon-quote {
  color: hotpink;
}

.icon_price {
  color: tomato;
}

.icon_phone {
  color: #007bff;
}

.icon_food-recommend {
  color: red;
}

.top-vote {
  float: right;
}

.logo {
  width: 70px;
  margin-right: 1rem;
}

.new-review {
  margin-bottom: 1rem;
}

.new-review :hover {
  background-color: whitesmoke;
}

.new-review_content {
  word-break: break-all;
  white-space: pre-line;
}

.new-review_header span:first-of-type {
  font-weight: bold;
}

.new-review_header span a:hover {
    font-weight: normal;
}

.news-content {
  white-space: pre-line;
}

.news-more:hover {
  cursor: pointer;
}

.pagination {
  flex-wrap: wrap;
}

.page-input {
  width: 2.5rem;
}

.review {
  padding: 1rem;
  margin-bottom: 1rem;
}

.review:hover {
  background-color: whitesmoke;
}

.reviewer {
  width: 100%;
}

.review-time {
  padding-right: 1rem;
  float: right;
}

.review-content {
  width: 100%;
  white-space: pre-line;
}

.review-content_content {
  width: 100%;
  white-space: pre-line;
  word-break: break-all;
}

.review-comment {
  width: 100%;
}

.review-comment p {
  white-space: pre-line;
}

.review-react {
  margin: 0;
  padding: 0;
}

.review-react:hover{
  cursor: pointer;
}

.review-react div {
  padding: 0.75rem;
}

.review-react div:hover {
  background-color: white;
}

.search-icon img{
  width: 30px;
  height: 30px;
}

.search-result {
  background-color: white;
  height: auto;
  position: absolute;
  z-index: 10;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-result div {
  text-align: left;
}

.search-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 75%;
  position: relative;
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  margin-top: 1rem;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: whitesmoke;
  font-weight: bold;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
  color: whitesmoke;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

.tip {
  display: flex;
}

.write-review {
  margin: auto;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/* Slideshow start */
.mySlides {
  display: none;
}
.mySlides img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.slideshow-text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 2rem;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.slideshow-numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.slideshow-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideshow-active,
.slideshow-dot:hover {
  background-color: #717171;
}

/* Fading animation */
.slideshow-fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* Slideshow end */

/* Hide input arrows number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}